/JavaFXApplication1/nbproject/private/
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.fdx

*.fdt

*.fdx

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdt

.metadata/.plugins/org.eclipse.core.resources/8.snap
